Options +FollowSymLinks -MultiViews
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Reescrita das URLs amigáveis
    RewriteRule ^api/([^/]+)/?$ api.php?action=$1 [NC,L,QSA]
    RewriteRule ^dashboard(/([^/]+))?/?$ dashboard.php?page=$2 [NC,L,QSA]
    
</IfModule>
